/* Base styles */

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", sans-serif;
}

.row{
    margin-top: 5%;
    margin-bottom: 5%;
}

h1{
    text-align: center;
    color: black;
    font-size: 45px;
}

.box{
    width: 100%;
    overflow: none;
}

.name{
    font-size: 125%;
    overflow: auto;
    text-align: center;
    float: right;
    border: 1px solid black;
    font-weight: bold;
    width: 100px;
    height: 40px;
    padding: 5px;
    margin-right: 30.5px;
    margin-top: 0px;
    position: relative;
}

.content{
    border: 1px solid black;
    width: 90%;
    height: auto;
    margin: 2.5%;
    color: black;
    font-size: 25px;
    padding: 2%;
    padding-top: 55px;
    background-color: grey;
}

.name1{
    background-color: lightsalmon;
}

.name2{
    background-color: burlywood;
}

.name3{
    background-color: lightgreen;
}


/* large devices */

@media (min-width: 992px) {
    .col-lg-4{
        float: left;
        width: 33.33%;
    }
}

/* medium devices */

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
        float: left;
      }

      .col-md-6 {
        width: 50%;
      }

      .col-md-12 {
        margin-left: -10px;
        width: 100%;
      }

      .name3{
        margin-right: 65px;
        width: 100px;
      }

      .name1, .name2{
        margin-right: 32px;
      }
}

/* small devices */

@media (max-width: 767px) {
    col-sm-12 {
        float: left;
        width: 100%
    }
    .name{
        margin-right: 39px;
    }
}
